<app-ygo-header-component [title]="'Histórico'"></app-ygo-header-component>

<ion-content>
  <ion-card *ngIf="listHistoricoTorneios.length">
    <ion-card-content>
      <ion-accordion-group>
        <app-ygo-accordion-historico *ngFor="let historico of listHistoricoTorneios" [historico]="historico">
        </app-ygo-accordion-historico>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!listHistoricoTorneios.length">
    <ion-card-header class="text-center">
      <ion-card-title>Não há histórico dos seus torneios!</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>