<app-ygo-header-component [title]="'Meus Torneios'"></app-ygo-header-component>

<ion-content>
  <ion-card *ngIf="listMeusTorneios.length">
    <ion-card-header class="text-center">
      <ion-card-title>Seus Torneios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion *ngFor="let torneio of listMeusTorneios" [value]="torneio">
          <ion-item slot="header">
            <ion-icon name="trophy-outline"></ion-icon>
            <ion-label>{{ torneio.nome }}</ion-label>
          </ion-item>
          <div slot="content">
            <div>
              <strong>
                <ion-icon name="time-outline"></ion-icon> Horário
              </strong>
              <p>{{ torneio.dataHora | date: "dd/MM/YYYY HH:mm" }}</p>
            </div>
            <div>
              <strong>
                <ion-icon name="cash-outline"></ion-icon> Valor
              </strong>
              <p>{{ torneio.valorInscricao | currency: "R$" }}</p>
            </div>
            <div>
              <strong>
                <ion-icon name="ribbon-outline"></ion-icon> Premiação
              </strong>
              <p>{{ torneio.premiacao }}</p>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!listMeusTorneios.length">
    <ion-card-header class="text-center">
      <ion-card-title>Você não está inscrito em nenhum torneio!</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>