<ion-header class="text-center">
  <ion-toolbar>
    <ion-title>Confirmar Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>
      <ion-title>
        {{ quantidade?.value }}x {{ produto?.nome }}
      </ion-title>
    </ion-card-header>
    <ion-toolbar>
      <ion-title>{{ (produto?.valor * quantidade?.value) | currency: 'BRL' }}</ion-title>
    </ion-toolbar>
    <form [formGroup]="form">
      <ion-item>
        <ion-icon name="remove-circle" item-right (click)="removerProduto()"></ion-icon>
        <ion-input class="text-center" type="number" min="1" formControlName="quantidade"></ion-input>
        <ion-icon name="add-circle" item-right (click)="addProduto()"></ion-icon>
      </ion-item>
    </form>
	</ion-card>
  <ion-button class="btn-confirmar" expand="block" fill="outline" color="primary" (click)="confirmarPedido()">Confirmar</ion-button>
</ion-content>

