<ion-accordion [value]="torneio">
  <ion-item slot="header">
    <ion-icon name="trophy-outline"></ion-icon>
    <ion-label>{{ torneio.nomeTorneio }}</ion-label>
  </ion-item>
  <div slot="content">
    <ion-label>{{ torneio.nomeTorneio }}</ion-label>
    <div class="pt-1">
      <strong>
        <ion-icon name="home-outline"></ion-icon> Local
      </strong>
      <p>{{ torneio.nomeOts }}</p>
    </div>
    <div>
      <strong>
        <ion-icon name="time-outline"></ion-icon> Horário
      </strong>
      <p>{{ torneio.dataInicio | date: "dd/MM/YYYY HH:mm" }}</p>
    </div>
    <div>
      <strong>
        <ion-icon name="cash-outline"></ion-icon> Valor
      </strong>
      <p>{{ torneio.valorInscricao | currency: "R$" }}</p>
    </div>
    <div>
      <strong>
        <ion-icon name="ribbon-outline"></ion-icon> Premiação
      </strong>
      <p>{{ torneio.premiacao }}</p>
    </div>
    <ion-button color="primary" size="small">
      <ion-icon name="checkmark-done-circle"></ion-icon> Realizar Inscrição
    </ion-button>
  </div>
</ion-accordion>