.primeiro-lugar {
  color: #ffd700;
  font-size: 1.7em;
  padding-right: 0.5em;
}

.segundo-lugar {
  color: #c0c0c0;
  font-size: 1.3em;
  padding-right: 0.5em;
}

.terceiro-lugar {
  color: #cd7f32;
  padding-right: 0.5em;
}