<ion-header class="text-center">
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formPerfil">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apelido</ion-label>
      <ion-input formControlName="apelido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input formControlName="contato"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Time</ion-label>
      <ion-input formControlName="time"></ion-input>
    </ion-item>
    <ion-col size="12" class="text-center">
      <ion-button color="primary" (click)="salvarPerfil()" expand="block"> Salvar Perfil</ion-button>
    </ion-col>
  </form>
</ion-content>