<ygo-header-component [title]="'Home'"></ygo-header-component>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="text-center pt-2">
        Bem vindo, <strong>{{ usuario.nome }}!</strong>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ygo-menu-card icon="trophy" label="Criar Torneio" (click)="toRoute('/criar-torneio')"></ygo-menu-card>
  <ygo-menu-card icon="checkmark-done-circle" label="Realizar Inscrição" (click)="toRoute('/realizar-inscricao')">
  </ygo-menu-card>
  <ygo-menu-card icon="podium" label="Meus Torneios" (click)="toRoute('/meus-torneios')"></ygo-menu-card>
  <ion-card *ngIf="listProximosTorneios.length > 0">
    <ion-card-header>
      <ion-card-title>Próximos Torneios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group>
        <ygo-accordion-torneio *ngFor="let torneio of listProximosTorneios" [torneio]="torneio"></ygo-accordion-torneio>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="listProximosTorneios.length == 0">
    <ion-card-header class="text-center">
      <ion-card-title>Não há torneios marcados!</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>